@import "variables/variables";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
}


#grilla_body{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 200px 1500px 300px;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";
}

body {
    font-family: $fuente_principal;
    background-color:$color_body;
    background-image: radial-gradient(whitesmoke,$color_body);
    height: 2200px;
}

header{
    background-color: rgb(64, 141, 212);
    background-image: radial-gradient(white,rgb(64, 141, 212));
}

nav{
    background-color: $color_header;
    position: sticky;
    top: 0px;
    z-index: 50;
}

ul{
    display:flex;  
    list-style-type: none;
}

li{
    color:white;
    font-family: $fuente_principal;
}



main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*Nesting de Estilos en el section*/

section{
    height: 30%;
    width: 90%;
    opacity: 0.7;

    h2{
        text-align: center;
        font-family: $fuente_principal;
        font-size: 25px;
    }

    p{
        padding: 10px;
        font-family: $fuente_principal;
        font-size: 25px;
        justify-content: center;
        text-align: justify;
        color: $color_parrafo;
    }

}

footer{
    background-color: $color_header;
    font-size: 20px;
    font-family: $fuente_principal;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

/*Clase para Reutilizar Propiedades de Grid*/
.formateo_grids{
    display: grid;
    justify-content: space-around;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
    
}


/* Definicion de Estructuras Grid*/

.grid_section_home{
    grid-template-columns: 50% 40%;
    grid-template-rows: 30% 60%;
    grid-template-areas: "img titulo"
                         "img parrafo";
    @extend .formateo_grids;
      
                         
}

.grid_section_acerca{
    grid-template-columns: 55% 35%;
    grid-template-rows: 100%;
    grid-template-areas: "img list";
    @extend .formateo_grids;
    
   
}


/*Manejo de Imagenes*/

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
       
}

.img_section_home{
    grid-area: img;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 35px;
}

.imagen_acerca{
    border-radius: 20px;
    grid-area: img;
}

.img_section_home:hover{
    transform: scale(1.1,1.1);
    border-radius: 20%;
    
}

.lista_acerca{
    display: inline;
}


h1{
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 80px;
}


.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: $fuente_principal;
}


#Experiencia{
    font-family: $fuente_principal;
    font-size: 18px;
    color: $color_parrafo;
    width: 90%;
    text-align: left;
    list-style: disc;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.mapa{
    height: 100%;
    width: 100%;
}

/*Media Query XS & S*/

@media only screen and ( max-width:600px){

    #grilla_body{
        grid-template-columns: 100%;
        grid-template-rows: 300px 200px 2000px 100px;
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "footer";
    }
    
    h1{
        font-size: 60px;
    }
    
    ul{
        height: 200px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    li{
        font-size:18px;
    }

    

    .grid_section_home{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 40% 30%;
        grid-template-areas: "titulo"
                             "img" 
                             "parrafo";
        @extend .formateo_grids;
        
                             
    }

    .grid_section_acerca{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 55% 35%;
        grid-template-areas: "img"
                             "list";
        @extend .formateo_grids;
        height: 90%;
       
    }

    #Experiencia{
        
        font-size: 18px;
        text-align: justify;
        list-style: disc;
        align-items: left;
        
    }

    footer p{
        color:white;
        font-size:16px;
        text-align: center;
    }

    section{
         
        h2{
            text-align: center;
            font-size: 20px;
        }
    
        p{
            padding: 5px;
            font-size: 18px;
            justify-content: left;
            text-align: justify;
        }
    
    }

    
}

/*Media Query MD & Large*/

@media only screen and (min-width:600px){

    #grilla_body{
        grid-template-columns: 100%;
        grid-template-rows: 400px 200px 1600px 100px;
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "footer";
    }
    
    ul{
        flex-direction: row;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    li{
        font-size: 20px;
    }

    
    footer{
        height: 100px;
    }
}