

$color_nav: rgb(137, 153, 173);
$color_parrafo: rgb(73, 60, 78);
$fuente_principal: 'Roboto', sans-serif;
$color_body: rgb(245, 231, 220);
$color_header: rgb(64, 141, 212);


/*$ancho_galeria: 300px + 2vw;*/
